html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.gg-main .work, .no-work {
    text-align: center;
    font-size: 24px;
}

.gg-main .work > div {
    font-weight: bold;
    border: 2px solid #2B2724;
    min-height: 260px;
    text-align: left;
    padding-left: 35px;
    padding-top: 25px;
    background: #797983 url('../images/bg-sword.png') 0 0 no-repeat;
}

.gg-main .work {
    color: #fff;
}

.gg-main .work a {
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5) !important;
}

.gg-main .work a:hover {
    color: #ccc;
    text-decoration: none;
}

.gg-main .work span {
    text-decoration: underline;
}

.gg-main .no-work ul {
    /*background: #797983;*/
    background: #797983 url('../images/bg-sword.png') 0 0 no-repeat;
    border: 2px solid #2B2724;
    min-height: 260px;
    padding-top: 14px;
}

.gg-main .no-work ul a {
    color: #fff;
}

.gg-main .no-work ul a:hover {
    color: #ccc;
    text-decoration: none;
}

.gg-main .no-work ul li {
    display: block;
    padding: 10px;
    text-align: left;
}

.gg-main .mainimg {
    width: 100%;
    /*margin-bottom: 50px;*/
    margin-bottom: 0;
}

.gg-main h1.imgh1 {
    position: absolute;
    color: #ddd;
    top: -20px;
    left: 20px;
    width: auto;
    background: rgba(48, 48, 48, 0.6);
    padding: 20px 0;
}

.slimScrollDiv {
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    height: 550px;
}

.chat-box {
    overflow: hidden;
    height: 550px;
}

@media screen and (max-width: 600px) {
    .navbar-nav li a, .dropdown-menu li a, .dropdown-menu li, .navbar-nav li {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .slimScrollDiv {
        height: 750px;
    }

    .chat-box {
        overflow: hidden;
        width: auto;
        height: 750px;
    }
}

.chat .row:nth-child(2n) {
    background: #eee !important;
    padding: 5px 0;
}